/* General Body Styles */
body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-color: #f4f4f4; /* Light gray background */
}

/* Navbar Styling */
.navbar {
   background-color: #033D87; /* Dark blue background */
   color: white;
   padding: 1rem;
}

/* Navbar Links */
.nav-link {
   color: white;
   margin-right: 1rem;
   text-decoration: none;
}

.nav-link:hover {
   text-decoration: underline;
}

/* Container for Content */
.container {
   margin: 20px auto;
   max-width: 1200px;
   padding: 20px;
}

/* Form Styling */
form {
   margin: 20px 0;
}

.form-group {
   margin-bottom: 15px;
}

.form-label {
   display: block;
   margin-bottom: 5px;
}

.form-control {
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 5px;
   width: 100%;
}

.form-control:focus {
   border-color: #033D87;
   outline: none;
}

/* Button Styling */
.btn {
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   background-color: #033D87;
   color: white;
   cursor: pointer;
}

.btn:hover {
   background-color: #002855;
}

/* Layout for Centered Content */
.centered-content {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh; /* Full height of the viewport */
}

/* Section Header Styling */
h2, h4 {
   color: #033D87;
   margin-bottom: 10px;
}

h2 {
   font-size: 28px;
}

h4 {
   font-size: 20px;
}

/* Links for Navigation */
.nav-links {
   display: flex;
   justify-content: space-around;
   padding: 20px;
}

/* Style for login page container */
.login-container {
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.login-box {
   background-color: white;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   width: 300px;
}

/* Styles for Inicio, Justificaciones, Asistencia, ProximosCursos components */
.section-container {
   margin: 20px;
   padding: 20px;
   background-color: white;
   border-radius: 5px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
