/* Login container styles */
.login-container {
    height: 100vh;
    background-color: #007bff; /* Bootstrap primary color */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Login box styles */
.login-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 300px; /* Width can be adjusted as needed */
}

/* Additional form and button styles */
.form-label {
    font-weight: bold;
}

.btn {
    margin-bottom: 10px;
}

.btn-success {
    background-color: #28a745; /* Green color */
    border: none;
}

.btn-light {
    background-color: #f8f9fa; /* Light background color */
}
